dead-center(positioning, width = null, height = null)
  if width is null and positioning is 'outer'
    error('dead-center: You must specify a size')

  if height is null
    height = width

  else
    if positioning is 'outer'
      display table
      width width
      height height

    else
      display table-cell
      vertical-align middle
      text-align center

clearfix()
  cf()