circle-container()
  overflow hidden
  display inline

circle(circleWidth)
  display block
  float left
  padding (circleWidth / 2)
  width auto
  height auto
  border-radius 50%
  position relative
  margin-left (50% - circleWidth) !important

inner-circle($padding)
  border-radius 50%
  background-size cover

  position absolute
  width $padding
  height $padding
  left ((100 - $padding) / 2)
  top ((100 - $padding) / 2)