<div class="navbar navbar-main">
  <div class="container">
    <div class="navbar-header navbar-left header-area">

      <button
        type="button btn-default"
        class="navbar-toggle pull-right"
        data-toggle="collapse"
        data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="pull-left navbar-brand">
        <img
          src="/images/Charm-UX-app-logo.png"
          style="cursor: pointer; width: 149px; height: 45px;"
          ng-click="helpers.redirect('/')"
          alt="Charm UX App" />
      </div>

      <div class="pull-left">
        <div ng-if=" !!navbarItems.left " class="btn-group btn-group-md">
          <a
          ng-repeat-start=" item in navbarItems.left | orderBy:'order' "
          ng-if=" !item.subMenu && showItem( item ) "
          ng-class=" { 'dropdown-toggle': !!item.subMenu } "
          class="btn btn-default"
          type="button"
          href="{{item.href}}"
          ng-click=" item.click ? item.click( this, $event ) : true ">
            <i ng-class=" classHandler( item ) "> </i> {{item.label}} <b ng-if=" !!item.subMenu " class="caret"></b>
          </a>

          <div
          ng-repeat-end
          ng-class=" { 'btn-group': item.subMenu, 'btn-group-md': item.subMenu } "
          ng-if=" !!item.subMenu && showItem( item ) "
          style="margin-top:0;">

            <a
            ng-if=" !!item.subMenu && showItem( item ) "
            ng-class=" { 'dropdown-toggle': !!item.subMenu } "
            data-toggle="dropdown"
            class="btn btn-default"
            type="button">
              <i ng-class=" classHandler( item ) "> </i> {{item.label}} <b ng-if=" !!item.subMenu " class="caret"></b>
            </a>

            <ul
            ng-if=" item.subMenu && showItem( item ) "
            class="dropdown-menu" role="menu">

              <li
              ng-repeat=" subitem in item.subMenu | orderBy:'order' "
              ng-if=" showItem( subitem ) "
              ng-class=" activeHref( subitem ) ">

                <a href="{{subitem.href}}" ng-click=" subitem.click ? subitem.click( this, $event ) : true "><i ng-class=" classHandler( subitem ) "> </i> <span>{{subitem.label}}</span></a>
              </li>
            </ul>

          </div>
        </div>

      </div>

    </div> <!--/.navbar-left -->

    <div class="navbar-right navbar-collapse collapse">

      <p class="navbar-text" ng-if="currentUser">
        <span ng-bind="currentUser.email"></span>
        <span ng-if="currentUser.Role.name === 'Admin'">
          (<span ng-bind="currentUser.Role.name"></span>)
        </span>
        <impressions></impressions>
      </p>

      <div class="pull-right">
        <div class="btn-group btn-group-md">
          <accountchooser></accountchooser>

          <a
          ng-repeat-start=" item in navbarItems.right | orderBy:'order' "
          ng-if=" !item.subMenu && showItem( item ) "
          ng-class=" { 'dropdown-toggle': !!item.subMenu } "
          class="btn btn-default"
          type="button"
          href="{{item.href}}"
          ng-click=" item.click ? item.click( this, $event ) : true ">
            <i ng-class=" classHandler( item ) "> </i> {{item.label}} <b ng-if=" !!item.subMenu " class="caret"></b>
          </a>

          <div
          ng-repeat-end
          ng-class=" { 'btn-group': item.subMenu, 'btn-group-md': item.subMenu } "
          ng-if=" !!item.subMenu && showItem( item ) "
          style="margin-top:0;">

            <a
            ng-if=" !!item.subMenu && showItem( item ) "
            ng-class=" { 'dropdown-toggle': !!item.subMenu } "
            data-toggle="dropdown"
            class="btn btn-default"
            type="button">
              <i ng-class=" classHandler( item ) "> </i> {{item.label}} <b ng-if=" !!item.subMenu " class="caret"></b>
            </a>

            <ul
            ng-if=" item.subMenu && showItem( item ) "
            class="dropdown-menu" role="menu">

              <li
              ng-repeat=" subitem in item.subMenu | orderBy:'order' "
              ng-if=" showItem( subitem ) "
              ng-class=" activeHref( subitem ) ">

                <a href="{{subitem.href}}" ng-click=" subitem.click ? subitem.click( this, $event ) : true "><i ng-class=" classHandler( subitem ) "> </i> <span>{{subitem.label}}</span></a>
              </li>
            </ul>

          </div>

      </div>

    </div><!--/.navbar-collapse -->

  </div>
</div>
