<td
  ng-repeat="column in columns"
  data-title="column"
  sortable="column"
  filters="column"
  ng-class="['text-center', 'col-' + column.name.replace('.', '-'), column.customClass]"
  style="vertical-align:middle;">

  <div ng-if="column.template" ng-include="column.template"></div>
  <div ng-if="!column.template && !column.display && !column.click">{{ outputRow( row, column.name ) }}</div>
  <div ng-if="!column.template && !column.display && !!column.click"><a href="#" ng-click="column.click( this, $event, row )">{{ outputRow( row, column.name ) }}</a></div>
  <div ng-if="!column.template && !!column.display" ng-bind-html="column.display( outputRow( row, column.name ), row )"></div>
</td>
<td
  ng-if="actionsTemplate"
  ng-include="actionsTemplate"
  class="text-center"
  data-title="'Available Actions'">
</td>
