<ul
  ng-if="pages.length > 1"
  class="pager ng-cloak">

  <li
    ng-repeat="page in pages"
    ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
    ng-show="page.type == 'prev' || page.type == 'next'"
    ng-switch="page.type">

    <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
    <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
  </li>
  <li>
    <div ng-if="params.settings().counts.length" class="ng-table-counts btn-group pull-right">
      <button ng-repeat="count in params.settings().counts" type="button"
              ng-class="{'active':params.count() == count}"
              ng-click="params.count(count)" class="btn btn-default">
        <span ng-bind="count"></span>
      </button>
    </div>
  </li>
</ul>
