<div class="table-responsive">
  <table
    ng-table="tableParams"
    template-pagination="{{tpl.view('cs_common', 'tablePagination')}}"
    show-filter="true"
    class="table ng-table-responsive ng-table-resizable-columns table-hover table-bordered table-striped table-condensed">
    <thead>
      <tr class="ng-table-filters">
        <th
          ng-repeat="column in columns"
          class="sortable ng-table-header"
          data-resizable-column-id="column.name"
          ng-class="[ filterClass(column.name), 'col-head-' + column.name.replace('.', '-'), column.customClass ]"
          ng-click="setSorting(column.name)"
          ng-show="column.visible">

          <div>
            <i ng-if="column.glyph" class="{{column.glyph}}"></i> {{column.title}}
          </div>
        </th>
        <th class="text-center" ng-include="tpl.view('cs_common', 'table/toolbar')">
          Actions
        </th>
      </tr>
      <tr class="ng-table-filters" ng-if="!!filtersEnabled">
        <th ng-repeat="column in columns">
          <input
            ng-if="column.filter && column.filterType === 'text'"
            class="form-control text-center input-sm"
            type="text"
            ng-model="filters[column.name]"
            placeholder="{{column.title}}" />

          <select
            ng-if="column.filter && column.filterType === 'select'"
            class="full-width filter filter-select form-control input-sm"
            ui-select2="{ allowClear: true, placeholder: column.title }"
            ng-model="params.filter()[ column.name ]">

            <option ng-repeat="row in $data" value="{{row[column.name]}}">{{row[column.name]}}</option>
          </select>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in $data" ng-include="rowTemplate"></tr>
    </tbody>
  </table>
</div>
