<div>

  <div class="table-responsive">
    <table
      ng-table="tableParams"
      template-pagination="{{tpl.view('cs_common', 'tablePagination')}}"
      show-filter="true"
      class="table-hover table-bordered table-condensed ng-table-resizable-columns">
      <thead>
        <tr class="ng-table-filters">
          <th
            ng-repeat="column in columns"
            class="sortable"
            data-resizable-column-id="column.name"
            ng-class="[ filterClass(column.name), 'col-head-' + column.name.replace('.', '-'), column.customClass ]"
            ng-click="setSorting(column.name)">

            <div>
              <i ng-if="column.glyph" class="{{column.glyph}}"></i> {{column.title}}
            </div>
          </th>
          <th ng-if="hasFilters && ( !!showClearFilters || !!showClearSorting )">
            <div
              class="clear-filters clear-sorting">
              <button
                class="btn btn-xs"
                ng-click="resetFilters()"
                ng-if="hasFilters && !!showClearFilters">
                Clear
                <i class="fa fa-fw fa-filter" title="Clear Filters"></i>
              </button>

              <button
                ng-if="!!showClearSorting"
                class="btn btn-xs"
                ng-click="tableParams.sorting({id: 'asc'})">Clear
                <i class="fa fa-fw fa-sort" title="Clear Sorting"></i>
              </button>
            </div>
          </th>
        </tr>
        <tr class="ng-table-filters" ng-if="hasFilters">
          <th ng-repeat="column in columns">
            <input
              ng-if="column.filter && column.filterType === 'text'"
              class="form-control text-center input-sm"
              type="text"
              ng-model="filters[column.name]"
              placeholder="{{column.title}}" />

            <select
              ng-if="column.filter && column.filterType === 'select'"
              class="full-width filter filter-select form-control input-sm"
              ui-select2="{ allowClear: true, placeholder: column.title }"
              ng-model="params.filter()[ column.name ]">

              <option ng-repeat="row in $data" value="{{row[column.name]}}">{{row[column.name]}}</option>
            </select>
          </th>
          <th
            ng-if="actionsTemplate"
            class="text-center"
            style="vertical-align:middle;">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in $data" ng-include="rowTemplate"></tr>
      </tbody>
    </table>
  </div>
</div>
