<div id="helpContainer" class="panel panel-default" ng-cloak>
  <div class="panel-heading">
    <div class="pull-right add-button">
      <a
        href="https://github.com/CleverStack/angular-seed/issues/new"
        class="btn btn-sm btn-warning axn-btn"
        tooltip="Create a new Github Issue"
        target="newwindow">

        <b id="create-issue">
          <i class="fa fa-bug"></i>
          <span id="create-issue-text" class="hidden-xs">Create Issue</span>
        </b>
      </a>
      <a
        href="https://gitter.im/CleverStack?utm_source=share-link&utm_medium=link&utm_campaign=share-link"
        class="btn btn-sm btn-primary axn-btn"
        tooltip="Open Gitter Chat"
        target="newwindow">

        <b id="add-user">
          <i class="fa fa-wechat"></i>
          <span id="add-user-text" class="hidden-xs">Open Chat</span>
        </b>
      </a>
      <a
        href="http://cleverstack.io/documentation/#frontend"
        class="btn btn-sm btn-success axn-btn"
        tooltip="Open Documentation"
        target="newwindow">

        <b id="open-docs">
          <i class="fa fa-book"></i>
          <span id="open-docs-text" class="hidden-xs">Open Documentation</span>
        </b>
      </a>
    </div>
    <h4>
      Help<br/>
      <small class="visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">How to get help or advice when you are stuck on issues </small>
    </h4>
  </div>

  <div class="panel-body" style="padding-top: 0;">
    <iframe
      id="forum_embed"
      src="https://groups.google.com/forum/embed/?place=forum/clever-stack&showsearch=true&showpopout=true&hidesubject=true&hidetitle=true#!forum/clever-stack"
      scrolling="no"
      width="100%"
      height="100%"
      style="min-height: 600px;"
      frameborder="0">
    </iframe>
  </div>
</div>
