.project
.settings
.diff
.patch
.tmp
.sass-cache
.DS_Store
libpeerconnection.log

/scripts/*.jar
/scripts/bs-tunnel.sh
/scripts/BrowserStackTunnel.jar

/dist
/app/components
/node_modules
/test/coverage