// Whites
white-smoke = #f7f7f7

// Blues
viking = #57b5d0
pacific-blue = #00adbb
blue-charcoal = #292d33

// Greens
kelly-green = #60b70f
oxley = #6a9f6a

// Reds
red = #ef0909

// Pinks
tickle-me-pink = #FF748C