base-size = 4em

h1,h2,h3,h4,h5,h6
  font-family "bebas neue"

h1
  font-size base-size
h2
  font-size (base-size / 1.6)
h3
  font-size ((base-size / 1.6) / 1.6)
h4
  font-size (((base-size / 1.6) / 1.6) / 1.6)
h5
  font-size ((((base-size / 1.6) / 1.6) / 1.6) / 1.6)
h6
  font-size (((((base-size / 1.6) / 1.6) / 1.6) / 1.6) / 1.6)