<th
  ng-repeat="column in columns"
  ng-class="[ filterClass(column.name), 'col-head-' + column.name.replace('.', '-'), column.customClass ]"
  data-resizable-column-id="column.name"
  ng-click="setSorting(column.name)"
  ng-show="column.visible"
  class="sortable">

  <div>
    <i ng-if="column.glyph" class="fa fa-{{column.glyph}}"></i> {{column.title}}
  </div>
</th>

<th class="text-center col-actions" ng-include="toolbarTemplate">
  Actions
</th>
<!--
<tr>
  <th
  title="{{column.headerTitle(this)}}"
  ng-repeat="column in columns"
  ng-class="{ 'sortable': column.sortable(this), 'sort-asc': params.sorting()[column.sortable(this)]=='asc', 'sort-desc': params.sorting()[column.sortable(this)]=='desc' }"
  ng-click="sortBy(column, $event)"
  ng-show="column.show(this)"
  ng-init="template=column.headerTemplateURL(this)"
  class="header {{column.class(this)}}">
    <div
      ng-if="!template"
      ng-show="!template"
      class="ng-table-header"
      ng-class="{'sort-indicator': params.settings().sortingIndicator=='div'}">

      <span
        ng-bind="column.title(this)"
        ng-class="{'sort-indicator': params.settings().sortingIndicator=='span'}">
      </span>
    </div>
    <div
      ng-if="template"
      ng-show="template"
      ng-include="template">
    </div>

  </th>
</tr>
<tr
  ng-show="show_filter"
  class="ng-table-filters">

  <th
    data-title-text="{{column.titleAlt(this) || column.title(this)}}"
    ng-repeat="column in columns"
    ng-show="column.show(this)"
    class="filter">

    <div ng-repeat="(name, filter) in column.filter(this)">
      <div ng-if="filter.indexOf('/') !==-1" ng-include="filter"></div>
      <div ng-if="filter.indexOf('/')===-1" ng-include="'ng-table/filters/' + filter + '.html'"></div>
    </div>
  </th>
</tr>
 -->
