<div class="btn-toolbar pull-right" role="toolbar" style="overflow-y: visible;">
  <div class="btn-group">
    <button type="button" class="reload-table btn btn-default" ng-click="reload()" tooltip="Refresh/Reload Table">
      <i class="fa fa-fw fa-refresh"></i>
    </button>
    <button
      class="clear-filters btn btn-default"
      ng-if="!!filtersEnabled && !!hasFilterValues"
      type="button"
      ng-click="resetFilters()"
      tooltip="Clear Filters">
      <i class="fa fa-fw fa-filter-remove"></i>
    </button>

    <button
      class="disable-filters btn btn-default"
      ng-if="!!filtersEnabled && !hasFilterValues"
      type="button"
      ng-click="toggleFilters()"
      tooltip="Disable Filters">
      <i class="fa fa-fw fa-filter-minus"></i>
    </button>

    <button
      class="open-filters btn btn-default"
      ng-if="!filtersEnabled"
      type="button"
      ng-click="toggleFilters()"
      tooltip="Open Filters">
      <i class="fa fa-fw fa-filter-plus"></i>
    </button>

    <button
      class="clear-sorting btn btn-default"
      ng-click="tableParams.sorting({id: 'asc'})"
      tooltip="Clear Sorting">
      <i class="fa fa-fw fa-sort"></i>
    </button>
    <div class="configure-columns btn-group dropdown">
      <a class="dropdown-toggle btn btn-default" data-toggle="dropdown" tooltip="Show/Hide Columns">
        <i class="fa fa-fw fa-cog"></i>
        <!-- <b class="caret"></b> -->
      </a>
      <ul class="dropdown-menu dropdown-menu-form" role="menu">
        <li ng-repeat="column in columns" ng-click="$event.stopPropagation();">
          <label class="checkbox text-left">
            <input type="checkbox" ng-model="column.visible"/>
            {{column.title}}
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>
