<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-right add-button">
      <button
        id="add-permission"
        ng-click="helpers.openPermissionModal(false); $event.stopPropagation();"
        class="btn btn-sm btn-success axn-btn"
        tooltip="Create Permission">

        <i class="fa fa-plus"></i>
        <span id="add-permission-text">Create Permission</span>
      </button>
    </div>
    <h4 id="panel-title">Permission List<br/>
      <small class="visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">{{welcome}}</small>
    </h4>
  </div>
  <div id="permissions-list" clever-table="columns" service="PermissionService"></div>
</div>
