.bullet
  size = 32px
  circle(size)
  position relative
  background-color rgba(108,208,51,0)
  box-shadow 0 1px rgba(255,255,255,.51), inset 0 1px rgba(1,0,0,.11), inset 0 0 5px rgba(0,0,0,.1)

  .nub
    inner-circle(size, .6)
    background viking
    background-color kelly-green
    box-shadow 0 0 3px rgba(26,26,26,.28)
    background-image linear-gradient(bottom, rgba(26,26,26,.34), rgba(255,255,255,.34))