/**
 * Modules
 *
 * is actually synonymous with "Objects", and contains things that you might
 * find in an Object-Orient CSS project. There are simple classes that setup
 * hings like classes for navigational menus, bread crumbs, media (objects),
 * rules/breaks, buttons, etc. etc. For inspiration, I might suggest checking
 * out the /objects/ portion of Inuit.css, or better yet, try out the entire
 * framework because it's perfect for developers who don't want a framework to
 * dictate the UI styles of a web site or web app.
 */



@import avatar
@import elements
@import progress
@import button
@import symbols
@import icons
@import supplement
@import tabs
@import modal
@import backgrounds
@import transitions
@import well
@import switch

@import visuals
@import sliding-doors
@import navigation-bar
@import tables