.progress
  width 400px
  padding 3px
  background rgba(0, 0, 0, 0.25)
  border-radius 6px
  box-shadow inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08)

  &.step-through
    .progress-bar
      //position relative
      //background-image linear-gradient(left, rgba(0,0,0,0) 0%, rgba(255,255,255,0) 95%, rgba(255,255,255,0.35) 100%)
      /*.blur-me
        -webkit-filter blur(2px)
        background black
        position absolute
        right 0
        width 5px
        height 100%
      */

.progress-bar
  height 16px
  border-radius 4px
  background-image linear-gradient(bottom, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.3))
  background-color kelly-green
  transition 0.4s linear
  transition-property width, background-color
  //box-shadow 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1)
  border 1px solid oxley
