<div class="modal-header au-description">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <span ng-if="!role.id">Add Role</span>
  <span ng-if="role.id">Edit "<span ng-bind="role.name"></span>" Role</span>
</div>

<div class="modal-helpertext">
  <p ng-if="!role.id"><strong>Create a new role for the current account</strong></p>
  <p ng-if="role.id"><strong>{{role.name}}</strong></p>
  <p>Tip: Exercise caution when assigning a user permissions, as any user that has been assigned User.* rights can also add and remove other users.</p>
</div>

<div class="modal-body addRoleBody">

  <div class="row">
    <div class="row">
      <div class="col-xs-12">
        <div messenger ng-cloak></div>
      </div>
    </div>

    <form warn-unsaved-changes="role" role="form" name="form" class="form-horizontal container" ng-submit="submitted = true; save();" novalidate>

      <div class="row">
        <div class="col-md-12">
          <!-- <pre>{{role | json}}</pre> -->
          <div class="form-group mar-rt5" ng-class="{ 'has-error': helpers.hasError( this, 'name' ) }">
            <label class="col-lg-2 control-label">Name:</label>
            <div class="col-lg-10">
              <input
                type="text" class="form-control"
                name="name" id="name"
                ng-model="role.name"
                required focused-on/>
              <span class="help-block error" ng-show="helpers.hasError( this, 'name', 'required' )">Role name is required.</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group mar-rt5" ng-class="{ 'has-error': helpers.hasError( this, 'description' ) }">
            <label class="col-lg-2 control-label">Description:</label>
            <div class="col-lg-10">
              <textarea name="description" ng-model="role.description" rows="3" class="form-control"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <!-- <pre>{{permissions | json}}</pre> -->
          <div class="form-group mar-rt5">
            <label class="col-lg-2 control-label">Permissions:</label>
            <div class="col-lg-10">
              <select
                ng-disabled="!helpers.hasPermission( 'Permission.assignRole' )"
                multiple class="form-control"
                ui-select2="permissionsSelectOptions"
                ng-model="role.Permissions"
                data-placeholder="Select Permissions">

                <option ng-repeat="permission in permissions | orderBy:'action'" value="{{permission.id}}">{{permission.action}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <!-- <pre>{{permissions | json}}</pre> -->
          <div class="form-group mar-rt5">
            <label class="col-lg-2 control-label">Users:</label>
            <div class="col-lg-10">
              <select
                ng-disabled="!helpers.hasPermission( 'User.assignRole' )"
                multiple
                class="form-control"
                ui-select2="usersSelectOptions"
                ng-model="role.Users"
                data-placeholder="Select Users">

                <option ng-repeat="user in users | orderBy:'fullName'" value="{{user.id}}">{{user.fullName}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <button type="button" class="btn btn-block btn-default" ng-click="cancel()">Cancel</button>
        </div>
        <div class="col-xs-6">
          <button type="submit" class="btn btn-block btn-primary" ng-disabled="processing" ng-bind="role.id ? 'Save' : 'Add'"></button>
        </div>
      </div>

    </form>
  </div>
</div>
