<div class="container-fluid">
  <div class="pull-left col-xs-7 col-sm-8 col-md-9 col-lg-8">
    <h3>Roles <br/><small class="visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">{{welcome}}</small></h3>
  </div>
  <div class="pull-right add-button">
    <button
      ng-click="helpers.openRoleModal(false); $event.stopPropagation();"
        class="btn btn-sm btn-success axn-btn"
        tooltip="Create Role">
        <b id="add-role">
          <i class="fa fa-plus"></i>
          <span id="ADD-role-text">Create Role</span>
        </b>
    </button>
  </div>

  <div class="clearfix"></div>

  <div clever-table="columns" service="RoleService"></div>
</div>
