<div class="jumbotron notebox middle-reset">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-push-3">
        <div class="login-box">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p id="pr-title">Please choose a password that is : </p>
                <ul id="password-req">
                  <li>at least 8 characters long</li>
                  <li>contains at least one uppercase letter</li>
                  <li>contains at least one lowercase lette</li>
                  <li>contains at least 1 number or special character</li>
                </ul>
              </div>
            </div>
            <form ng-submit="submitted = true; submit()" name="form" novalidate>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group" ng-class="{'has-error': helpers.hasError(this, 'password')}">
                    <input
                      type="password"
                      id="password"
                      name="password"
                      class="form-control"
                      ng-model="credentials.password"
                      required
                      ng-pattern='/(?=^.{8,}$)(?!.*(.)\1\1\1\1)((?=.*\d)|(?=.*\W+))(?!.*\s)(?=.*[A-Z])(?=.*[a-z]).*/'
                      ng-minlengths="8"
                      focused-on
                      placeholder="New Password"
                    />
                    <span class="help-block error" ng-show="helpers.hasError(this, 'password', 'required')">Password is required</span>
                    <span class="help-block error" ng-show="helpers.hasError(this, 'password', 'pattern')">
                      Password must contain at least 1 uppercase letter, 1 lower case letter and 1 number or special character.
                      No spaces or double quotes or more than 4 consecutive identical characters are allowed. Minimum length is 8 characters.
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group" ng-class="{'has-error': helpers.hasError(this, 'passwordConfirmation')}">
                    <input
                      type="password"
                      id="passwordConfirmation"
                      name="passwordConfirmation"
                      class="form-control"
                      ng-model="credentials.passwordConfirmation"
                      placeholder="Retype Password"
                      required
                      must-equal-to="credentials.password"
                    />
                    <span class="help-block error" ng-show="helpers.hasError(this, 'passwordConfirmation', 'mustEqualTo')">Passwords must match</span>
                  </div>
                </div>
              </div>
              <button type="submit" ng-disabled="processing" class="btn btn-default reset-button ">Reset My Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>