<div class="jumbotron middle-register">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p id="free-trial-title">Start Your 30-Day Free Trial</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p id="free-trial-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="content-register">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="bg-sidebar-register">
          <div class="well sidebar-well">
            <span id="sidebar-well-title">This Is Your Marketing Title</span>
          </div>
          <div class="container image-thumbnails">
            <div class="row">
              <div class="col-md-4">
                <img src="http://placehold.it/200x200" class="img-thumbnail">
              </div>
              <div class="col-md-4">
                <img src="http://placehold.it/200x200" class="img-thumbnail">
              </div>
              <div class="col-md-4">
                <img src="http://placehold.it/200x200" class="img-thumbnail">
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p id="marketing-text-sample">
                  <span id="bold-text">Lorem Ipsum</span> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <ul id="column-1">
                    <li id="marketing-text-sample">Lorem Ipsum is simply dummy text</li>
                    <li id="marketing-text-sample">Lorem Ipsum is simply dummy text</li>
                    <li id="marketing-text-sample">Lorem Ipsum is simply dummy text</li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul id="column-1">
                  <li id="marketing-text-sample">Lorem Ipsum is simply dummy text</li>
                  <li id="marketing-text-sample">Lorem Ipsum is simply dummy text</li>
                  <li id="marketing-text-sample">Lorem Ipsum is simply dummy text</li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul id="column-1">
                    <li id="marketing-text-sample">Lorem Ipsum is simply dummy text</li>
                    <li id="marketing-text-sample">Lorem Ipsum is simply dummy text</li>
                    <li id="marketing-text-sample">Lorem Ipsum is simply dummy text</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <button type="button" class="btn btn-default marketing-button">Default button</button>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-default marketing-button">Default button</button>
              </div>

              <div class="col-md-4">
                <button type="button" class="btn btn-default marketing-button">Default button</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bg-main-register">
          <div class="well main-well">
            <span id="main-well-title">Sign Up For A Free Trial</span>
          </div>
          <div ng-show="success">
						<div class="row">
							<div class="col-md-12">
							  <p id="congrats-message">Congratulations!</p>
							  <p id="active-account">Your account is now active.</p>
							  <p class="go-to-account"><a href="/dashboard">Go To My Account</a></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="video-thumbnail"><span id="sample-video">SAMPLE VIDEO</span></div>
							</div>
						</div>
					</div>
					<div ng-show="failure">
						<div class="row">
							<div class="col-md-12">
							  <p id="congrats-message">Sorry, but something's not right.</p>
							  <p id="active-account">We were unable to authorize your account.</p>
							</div>
						</div>
					</div>
        </div>
      </div>
    </div>
  </div>
</div>
