<div class="col-md-6 col-md-push-3">
	<div class="jumbotron notebox middle-reset">
		<div class="container">

			<h4>Password Recovery</h4>
			<p>Please enter your email address used to sign up for your account</p>
			<p>We will send you confirmation link.</p>

			<form role="form" ng-submit="submitted = true; submit()" name="form" novalidate id="reset_request">
				<div class="form-group" ng-class="{'has-error': helpers.hasError(this, 'email', null, true)}">
					<input type="email" class="form-control" id="email" placeholder="Email" name="email" ng-model="email" required>
					<span class="help-block error" rel="email" ng-show="helpers.hasError(this, 'email', 'email', true)">Invalid email address</span>
					<span class="help-block error" rel="required" ng-show="helpers.hasError(this, 'email', 'required', true)">Please enter your email address</span>
				</div>
				<button type="submit" ng-disabled="processing" class="btn btn-primary recover-button">Recover</button>
			</form>

		</div>
	</div>
</div>