<h1>Users</h1>
<h2>{{welcome}}</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Registered On</th>
    </tr>
  </thead>
  <tbody ng-cloak ng-if="!users || users.length < 1">
    <tr>
      <td colspan="4" class="text-center">There are currently no registered users</td>
    </tr>
  </tbody>
  <tbody ng-cloak ng-if="users.length > 0">
    <tr ng-repeat="user in users">
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.createdAt.split('T')[0]}}</td>
    </tr>
  </tbody>
</table>
