<div class="row">
    <div class="col-md-12 header-area">
        <div class="pull-right">
            <a href="" class="btn btn-default" ng-click="delEvent()" ng-show="activeEvent.editable">{{ activeEvent.event.name }} / Delete</a>
            <a href="" class="btn btn-default" ng-click="newEvent()">Add event</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div ui-calendar="uiConfig.calendar"
                 ng-model="eventSources"
                 ng-if="showCalendar">
            </div>
        </div>
    </div>
</div>